cluster:
  allowSchedulingOnControlPlanes: ${allow_scheduling_on_control_planes}

%{ if virtual_shared_ip != null && network_interface != null }
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: ${virtual_shared_ip}
link: ${network_interface}
%{ endif }